div.modal-body.jarjestelmavirhe
  div.jarjestelmavirhe-kuva
    img(src="images/notify-alert.png", alt="")
  div.jarjestelmavirhe-viesti
    p(kaanna="viesti")
  div.jarjestelmavirhe-ok
    button.btn.btn-primary(ng-click="ok()", kaanna="'sulje'")
