.ck.ck-math-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    & .ck-math-view {
        margin: 10px;
    }

    & .ck-math-preview {
        //margin: 10px;
    }
}
