@import './_variables.scss';

@mixin tile-background-shadow {
  box-shadow: 5px 5px 20px rgba(0, 45, 153, 0.08);
  border: 1px solid #E7E7E7;
}


@mixin tile-background-shadow-selected {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

@mixin teksti-sisalto {
  // Jos sisältö ei mahdu edes tavutettuna, lisätään scrollbar
  overflow-wrap: break-word;
  word-wrap: break-word;

  & /deep/ figure {
    text-align: center;
    font-size: smaller;
    text-indent: 0;
  }

  & /deep/ img {
    display: block;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    margin: 0 auto;
  }

  & /deep/ table {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    margin: 0 auto;

    td {
      padding: $content-table-padding;

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@mixin shadow-tile {
  .shadow-tile {
    box-shadow: 5px 5px 20px 1px rgba(27,61,142,0.08);
  }

  @include shadow-tile-hover;
}

@mixin shadow-tile-hover {
  .shadow-tile:hover, .shadow-tile:focus {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  }
}

@mixin perustiedot-content {
  .perustiedot-content {
    .data-content {
      padding:10px;
      min-width: 160px;
    }
  }
}
