$black:            #2a2a2a;
$white:            #fff;
$gray:             #666;
$gray-lighten-1:   #999;
$gray-lighten-2:   #aeaeae;
$gray-lighten-3:   #ccc;
$gray-lighten-4:   #f6f4f0;
$gray-lighten-5:   #f5f5f5;
$red:              #e44e4e;
$red-lighten-1:    #e09191;
$red-lighten-2:    #ffe9e9;
$blue:             #0a789c;
$blue-lighten-1:   #159ecb;
$blue-lighten-2:   #00b5f0;
$blue-lighten-3:   #a6dcee;
$blue-lighten-4:   #def2ff;
$blue-lighten-5:   #0041DC;
$blue-darken-1:    #00526c;
$green:            #4c7f00;
$green-lighten-1:  #e6ffc1;
$green-lighten-2:  #5BCA13;
$yellow:           #ffd024;
$yellow-lighten-1: #fff7bc;

// Paletti
$paletti-blue-dark: #001A58;
$paletti-blue: #3367e3;
$paletti-background-light: #f7fbff;
$paletti-background-light-2: #edf8ff;

// Etusivu
$etusivu-background: #F7F7F7;
$etusivu-tile-background: #FFF;
$etusivu-header-background: #2F5FD1;

$color-links:      #051E5B;

$ops-header-height: 173px;
$color-ops-header: $paletti-blue-dark;
$color-ops-header-text: #fff;
$color-light-background: #E6F6FF;

$sidebar-width: 340px;

$dark-blue: #28344F;
$light-blue: #2E5FD1;

$main-view-offset: 100px;

$content-padding: 15px;

$valid: #a3bbf2;
$invalid: #dc3545;

// Content
$content-padding: 15px;
$content-table-padding: 5px;

$table-even-row-bg-color: rgba(0, 0, 0, 0.05);
$table-odd-row-bg-color: rgba(0, 0, 0, 0.00);
$table-hover-row-bg-color: rgba(0, 0, 0, 0.15);

// Sidenav
$sidenav-padding: 15px;
$sidenav-depth-padding: 15px;
$sidenav-color: #2b2b2b;
$sidenav-active-color: #0041dc;

// Header sisalto container
$sisalto-container-margin: 40px;

// Uutiset
$uutiset-header-background: #2F5FD1;

// Koulutustyyppi colors
$koulutustyyppi-ammatillinen-color: #008800;
$koulutustyyppi-esiopetus-color: #84d2ff;
$koulutustyyppi-lukio-color: #0143da;
$koulutustyyppi-perusopetus-color: #67cccc;
$koulutustyyppi-varhaiskasvatus-color: #ffcc33;
$koulutustyyppi-taiteenperusopetus-color: #faccea;
