@import './_variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800|Poppins:100,200,300,400,500,600,700,800&display=swap');

img.content-image {
  max-width: 100%;
}

.content {
  margin: 0;

  @media only screen and (min-width: 768px) {
    margin: 0;
  }
}

.form-content {
  padding: 0 !important;
}

// html element
:root {
  margin: 0;
  padding: 0;

  div.form {
    padding: 20px;

    label {
      font-size: 120%;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  body {
    font-family: "Open Sans", "Helvetica", sans-serif;
  }

  button:disabled {
    cursor: not-allowed;
  }

  li p {
    margin-bottom: 0;
  }

  @media (max-width: 767.98px) {
    .container {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      max-width: 100% !important;
    }
  }

  h1, h2, h3 {
    font-family: Poppins, sans-serif;
  }

  h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
  }

  h1 {
    font-size: 1.75rem;
    font-weight: 500;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: 400;
  }
  h4 {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Open Sans";
  }
  h5 {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Open Sans";
  }
  h6 {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans";
  }

  div.mx-datepicker-popup {
    z-index: 5000;
  }

  mark {
    padding: 0;
  }
}

