div.tutorial-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.tutorial-highlight {
  background-color: rgba(255,255,255,0.5);
  z-index: 1001;
  position: relative;
  border-radius: 5px;
  pointer-events: none;
}

.tutorial-popover {
  max-width: 500px;

  .tutorial-popover-content {
    padding-top: 2px;
    padding-bottom: 20px;
  }

}
